<div class="add-faces">
	<div class="faces-list">
		<mat-selection-list [(ngModel)]="selectedFacesSelected">
		  <mat-list-option class="selected-face" *ngFor="let face of selectedFaces" [value]="face">
		  	<div class="name">{{face.Name}}</div>
		  </mat-list-option>
		</mat-selection-list>
	</div>
	<div class="selection-action-buttons" *ngIf="selectedFacesSelected.length">
		<button mat-raised-button (click)="removeFace()">Remove Faces</button>
	</div>
	<div class="faces-input">
		<mat-select (selectionChange)="selectFace($event)" placeholder="Select face">
			<mat-option *ngFor="let face of allFaces" [value]="face">{{face.Name}}</mat-option>
		</mat-select>
	</div>
</div>