<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">{{title}}</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar color="primary">{{ title }}</mat-toolbar>
      <mat-nav-list>
        <a routerLink="/detection" mat-list-item>Detection</a>
        <a routerLink="/faces" mat-list-item>Faces</a>
        <a routerLink="/commands" mat-list-item>Commands</a>
        <a routerLink="/settings" mat-list-item>Settings</a>
        <a routerLink="/logs" mat-list-item>Logs</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>