<form class="command-details" #form >
	<fieldset>
		<mat-form-field>
			<input matInput name="id" type="number" disabled="" placeholder="ID of command" [(ngModel)]="command.ID" />
		</mat-form-field>
		<br/>
		<mat-form-field>
			<input matInput name="name" placeholder="Name of command" required="" [(ngModel)]="command.Name" />
		</mat-form-field>
	</fieldset>
	<fieldset>
		<mat-form-field>
			<mat-select placeholder="Command Type" name="type" required="" [(ngModel)]="command.Type">
				<mat-option *ngFor="let commandType of commandTypes" [value]="commandType">{{commandType}}</mat-option>
			</mat-select>
		</mat-form-field>
		<br/>
		<mat-form-field>
			<textarea matInput name="data" placeholder="JSON data" [(ngModel)]="command.Data" ></textarea>
		</mat-form-field>
	</fieldset>
	<fieldset class="run-conditions">
		<div>Command Run Conditions</div>
		<div>
			<mat-selection-list class="runConditionList" [(ngModel)]="runConditionsSelected" name="runConditions">
					<mat-list-option *ngFor="let condition of command.RunConditions" [value]="condition">{{runConditionsEnum[condition.RunConditionType]}}</mat-list-option>
			</mat-selection-list>
		</div>
		<div class="run-conditions-selected-action-buttons" *ngIf="runConditionsSelected.length">
			<button mat-raised-button (click)="removeRunConditionsSelected()">Remove Run Conditions</button>
		</div>
		<div class="faces-to-recognize" *ngIf="facesToRecognizeOpen">
			<div>Faces to Recognize</div>
			<app-add-faces (changed)="ftrChange($event)" [selectedFaces]="firstSelectedCommand.FacesToRecognize"></app-add-faces>
		</div>
		<div>
			<mat-form-field>
				<mat-select required="" placeholder="Add Run Condition" (selectionChange)="runConditionSelected($event)" class="runConditionSelect">
					<mat-option *ngFor="let condition of runConditionTypes" [value]="condition">{{condition.label}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</fieldset>
	<fieldset class="action-buttons">
		<ng-container *ngIf="commandId">
			<button mat-raised-button (click)="updateCommand(form)">Update</button>
			<button mat-raised-button (click)="removeCommand()">Remove</button>
		</ng-container>
		<ng-container *ngIf="!commandId">
			<button mat-raised-button (click)="createCommand(form)">Create</button>
		</ng-container>
	</fieldset>
</form>